#  Mongo Credential
MONGODB_URI=mongodb://admin:Password123!@127.0.0.1:27017/IPSSchoolDB?authSource=admin

# App Credentials
DEFAULT_ADMIN_EMAIL=something@gmail.com
DEFAULT_ADMIN_PASSWORD=Password123!
JWT_SECRET=jwt_token_key_2026
JWT_EXPIRES_IN=7d

# Cloudinary Credentials
STORAGE_PROVIDER=cloudinary
CLOUDINARY_ROOT_FOLDER=dir/assets
CLOUDINARY_CLOUD_NAME=***7mg***
CLOUDINARY_API_KEY=727794366*****
CLOUDINARY_API_SECRET=oIZ3h6dnP***********
MEDIA_BASE_URL=https://res.cloudinary.com/***7mg***